.textbox {
    margin-bottom: 25px;

    &Title {
        margin-bottom: 10px;
        font-size: 24px;
        font-weight: 700;
        line-height: 33px;
    }

    &List {
        list-style: inside;
        color: var(--red);
    }

    &Item {
        line-height: 33px;
        color: var(--black);
    }
}
