@import '@styles/var';
@import '@styles/mixins';

.item {
    width: 100%;

    &Btn {
        padding: 10px 15px;
        width: 100%;
        @include transition;

        &:hover {
            color: $white;
            background-color: $red;
        }

        &:active {
            color: $white;
            background-color: $darkRed;
        }
    }
}
