@import '@styles/var';
@import '@styles/mixins';

.timerBox {
    align-self: flex-start;
    border-radius: 10px;
    width: 60%;
    background-color: $greyF4;
    overflow: hidden;

    &Content {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 107px 0;
    }

    &Descr {
        &Row {
            margin-bottom: 32px;
        }

        &Task {
            color: $greyC4;
        }
    }
}

@media screen and (max-width: 1024px) {
    .timerBox {
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
    .timerBox {
        &Content {
            padding: 40px 0;
        }
    }
}

@media screen and (max-width: 500px) {
    .timerBox {
        margin: 0 -16px; // Расширяем блок на весь экран
        border-radius: 0;
        width: calc(100% + 32px); // Расширяем блок на весь экран
    }
}
