$black: #333333;
$pink: #ea8979;
$orange: #ee735d;
$orangeFF: #ffdda9;
$red: #dc3e22;
$darkRed: #b7280f;
$red9F: #9f210c;
$lightGreen: #c8d95b;
$green: #a8b64f;
$darkGreen: #899441;
$blue: #c5f1ff;
$purple: #dfdcfe;
$white: #ffffff;
$greyE4: #e4e4e4;
$greyF4: #f4f4f4;
$greyEC: #ececec;
$greyC4: #c4c4c4;
$grey99: #999999;

$container: 80px;
$background-color: #ffffff;
$filter: invert(100%);
