@import '@styles/var';
@import '@styles/mixins';

.pomidoroItem {
    position: relative;
    display: flex;
    align-items: center;
    border-bottom: 1px solid $grey99;
    padding: 5px 0 5px 10px;
    max-width: 100%;
    cursor: pointer;
    @include transition;

    &Effect {
        &:focus {
            outline: none;
            background-color: $greyF4;
        }

        &:hover {
            background-color: $greyEC;
        }

        &:active {
            background-color: $greyC4;
        }
    }

    &:last-child {
        border: none;
    }

    &Pomidors {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 10px;
        border-radius: 100%;
        border: 1px solid $greyC4;
        min-width: 25px;
        width: 25px;
        height: 25px;
        line-height: 0;

        &IsComplete {
            background-color: $red;
        }
    }

    &Descr {
        margin-right: auto;
        word-wrap: break-word;
        width: 249px;
        line-height: 22px;
    }

    &MenuBox {
        position: relative;
        display: flex;
        width: 46px;
    }

    &MenuBtn {
        z-index: 1;
        position: relative;
        padding: 10px;
        @include transition;
        pointer-events: all;

        & svg circle {
            fill: $orange;
        }

        &:focus {
            outline: none;
            background-color: $greyF4;
        }

        &:hover {
            background-color: $purple;
            & .pomidoroItem {
                background-color: transparent;
            }
        }

        &:active {
            background-color: $blue;
        }
    }

    &EditForm {
        display: flex;
        align-items: center;
        margin-right: auto;
        padding: 3px 0px;
        max-width: calc(100% - 35px - 46px); // ширина минус &Pomidors - &MenuBtn

        &Input {
            margin-right: 5px;
            border: 1px solid $greyC4;

            max-width: calc(100% - 24px - 24px); // ширина минус &Confirm - &Сancel
            font-size: 16px;
            line-height: 22px;
            background-color: $white;

            &:focus {
                outline: 1px solid $green;
            }
        }

        &Confirm {
            flex: 1 1 0;
            line-height: 0;

            & svg {
                color: $green;
                @include transition;
            }

            &:hover svg {
                color: $darkGreen;
            }
        }

        &Сancel {
            flex: 1 1 0;
            height: 24px;
            line-height: 0;

            & svg {
                color: $red;
                @include transition;
            }

            &:hover svg {
                color: $darkRed;
            }
        }
    }
}

@media screen and (max-width: 500px) {
    .pomidoroItem {
        padding: 5px 6px;
    }
}
